{% extends 'profile.html.twig' %}
{% if birthdays is not defined %}{% set birthdays = false %}{% endif %}

{% block main %}

    <h1 class="text-primary mb-2 mb-md-4"><i class="bi bi-lightbulb"></i> Uitgelicht</h1>

    {% for post in specials %}
      {% include 'post/template.html.twig' with {'item': post } %}
    {% else %}
      geen berichten gevonden ...
    {% endfor %}

    <div class="mt-2 text-end">
      <a href="{{path('profile_posts')}}" class="small fw-lighter text-secondary text-decoration-none">
        <i class="bi bi-chevron-double-right"></i> naar alle berichten
      </a>
    </div>

    {% include 'audio-player/module.html.twig' %}

    {% if viewpoint != app.user and app.user.enabledAssociates|length > 1 %}
    <div class="alert alert-secondary mt-5" role="alert">
      <i class="bi bi-exclamation-diamond-fill"></i> Je ziet enkel de informatie voor <strong>{{viewpoint}}</strong> <i class="bi bi-person-fill"></i>.</li>
      <a href="{{ path('profile_reset') }}" class="text-decoration-none">Bekijk de informatie van al je deelnemers. <i class="bi bi-people-fill"></i></a>
    </div>
    {% endif %}

    <h2 class="text-secondary mt-5">Deelnemer(s)</h2>
    <div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="text-center"></th>
                <th>Naam</th>
                <th>Groep(en)</th>
                <th class="text-center">Onstage</th>
                <th>Actie</th>
            </tr>
        </thead>
        <tbody>
          {% for associate in app.user.enabledAssociates %}
            <tr style="height:60px; vertical-align: middle;" class="{% if viewpoint != app.user and associate != viewpoint%}text-muted{% endif %} {% if viewpoint == associate %}text-primary fw-semibold{% endif %}">
                <td class="text-center">
                  {% if associate.imagePortrait %}
                    <img src="{{path.thumbPortrait}}/{{ associate.imagePortrait }}" height="45"></img>
                  {% endif %}
                </td>
                <td>{{ associate.fullname }}</td>
                <td>{{ associate.categoryNames }}</td>
                <td class="text-center">{% if associate.onstage %}<i class="bi bi-check-square"></i>{% endif %}</td>
                <td>
                    <a href="{{ path('profile_show', {'id': associate.id}) }}">toon</a>
                    <a href="{{ path('profile_edit', {'id': associate.id}) }}">bewerk</a>
                </td>
            </tr>
          {% else %}
            <tr>
                <td colspan="2">geen gegevens gevonden</td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
    </div>

{% endblock %}

{% block side %}
  {{ parent() }}
    {% include 'document/module.html.twig' %}
    {% include 'advert/module.html.twig' %} 
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {% if birthdays %}
<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>
<script>
var duration = 100;
var end = Date.now() + duration;

(function frame() {
  confetti({
    particleCount: 100,
    startVelocity: 30,
    spread: 360,
    origin: {
      x: Math.random(),
      // since they fall down, start a bit higher than random
      y: Math.random() - 0.2
    }
  });
  // keep going until we are out of time
  if (Date.now() < end) {
    requestAnimationFrame(frame);
  }
}());
</script>
  {% endif %}
{% endblock %}
