{% extends 'profile.html.twig' %}

{% block main %}

    <h1 class="text-secondary">Laatste berichten</h1>

    {% for post in specials %}
      {% include 'post/template.html.twig' with {'item': post } %}
    {% else %}
      geen berichten gevonden ...
    {% endfor %}

    <h2 class="text-secondary mt-5">Deelnemer{% if app.user.enabledAssociates|length > 1 %}s{% endif %}</h2>
    <table class="table">
        <thead>
            <tr>
                <th class="text-center"></th>
                <th>Naam</th>
                <th>Groep(en)</th>
                <th>Actie</th>
            </tr>
        </thead>
        <tbody>
          {% for associate in app.user.enabledAssociates %}
            <tr style="height:60px; vertical-align: middle;" class="{% if viewpoint != app.user and associate != viewpoint%}text-muted{% endif %} {% if viewpoint == associate %}text-primary fw-semibold{% endif %}">
                <td class="text-center">
                  {% if associate.imagePortrait %}
                    <img src="{{path.thumbPortrait}}/{{ associate.imagePortrait }}" height="45"></img>
                  {% endif %}
                </td>
                <td>{{ associate.fullname }}</td>
                <td>{{ associate.categoryNames }}</td>
                <td>
                    <a href="{{ path('profile_show', {'id': associate.id}) }}">toon</a>
                    <a href="{{ path('profile_edit', {'id': associate.id}) }}">bewerk</a>
                </td>
            </tr>
          {% else %}
            <tr>
                <td colspan="2">geen gegevens gevonden</td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
    {% if viewpoint != app.user and app.user.enabledAssociates|length > 1 %}
    <ul class="list-inline">
      <li class="list-inline-item">Je bekijkt enkel de informatie voor {{viewpoint}}.</li>
      <li class="list-inline-item"><a href="{{ path('profile_reset') }}">Bekijk de informatie van al je deelnemers.</a></li>
    </ul>
    {% endif %}

{% endblock %}
