{% extends 'profile.html.twig' %}

{% block title %}{{associate.fullname}}{% endblock %}

{% block main %}
    <h1 class="d-flex justify-content-between">
      {{associate.fullname}}
      {% if associate.role %}<small class="align-top"><span class="ms-3 badge bg-primary fw-lighter">Rol: <span class="fw-light">{{ associate.role }}</span></span></small>{% endif %}
    </h1>

    {% if associate.categories or associate.onstage %}
      <ul class="list-inline">
        {% if associate.onstage %}
          <li class="list-inline-item"><span class="badge text-bg-primary fw-light">onstage</span></li>
        {% endif %}
        {% for category in associate.categories %}
          <li class="list-inline-item"><span class="badge text-bg-secondary fw-light">{{category.slug}}</span></li>
        {% endfor %}
      </ul>
    {% endif %}

    <div class="p-3 mb-4 bg-white shadow-sm">

      <dl class="row">
        {% if associate.imagePortrait or associate.imageEntire %}
        <dd class="col-sm-9 offset-md-3">
          {% if associate.imagePortrait %}
            <img class="img-fluid" style="max-height: 250px;" src="{{path.imagePortrait}}/{{ associate.imagePortrait }}"></img>
          {% endif %}
          {% if associate.imageEntire %}
            <img class="img-fluid" style="max-height: 250px;" src="{{path.imageEntire}}/{{ associate.imageEntire }}"></img>
          {% endif %}
        </dd>
        {% endif %}
      </dl>

      <dl class="row mt-4">
        <dt class="col-sm-3 text-md-end fw-lighter">Geboortedatum</dt>
        <dd class="col-sm-9">{{ associate.details.birthdate|format_datetime('long', 'none') }}</dd>

        <dt class="col-sm-3 text-md-end fw-lighter">Geslacht</dt>
        <dd class="col-sm-9">{{ associate.details.genderName }}</dd>

        <dt class="col-sm-3 text-md-end fw-lighter">E-mailadres</dt>
        <dd class="col-sm-9">{{ associate.details.email ? associate.details.email : 'niet opgegeven' }}</dd>

        <dt class="col-sm-3 text-md-end fw-lighter">Telefoonnummer</dt>
        <dd class="col-sm-9">{{ associate.details.phone ? associate.details.phone : 'niet opgegeven' }}</dd>

        <dt class="col-sm-3 text-md-end fw-lighter">Adres</dt>
        <dd class="col-sm-9">{{ associate.address }}</dd>
      </dl>

      {% if associate.onstage %}
      <dl class="row mt-4">
        <dt class="col-sm-3 text-md-end fw-lighter">Haarkleur</dt>
        <dd class="col-sm-9">{{ associate.measurements.hairColor }}</dd>

        <dt class="col-sm-3 text-md-end fw-lighter">Haartype</dt>
        <dd class="col-sm-9">{{ associate.measurements.hairType }}</dd>

        <dt class="col-sm-3 text-md-end fw-lighter">Haarlengte</dt>
        <dd class="col-sm-9">{{ associate.measurements.hairLength }}</dd>

        <dt class="col-sm-3 text-md-end fw-lighter">Confectiemaat</dt>
        <dd class="col-sm-9">{{ associate.measurements.fittingSize }}</dd>

        <dt class="col-sm-3 text-md-end fw-lighter">Lengte</dt>
        <dd class="col-sm-9">{{ associate.measurements.height }} cm</dd>

        <dt class="col-sm-3 text-md-end fw-lighter">Borstomvang</dt>
        <dd class="col-sm-9">{{ associate.measurements.chestGirth }} cm</dd>

        <dt class="col-sm-3 text-md-end fw-lighter">Taille</dt>
        <dd class="col-sm-9">{{ associate.measurements.waistGirth }} cm</dd>

        <dt class="col-sm-3 text-md-end fw-lighter">Heup</dt>
        <dd class="col-sm-9">{{ associate.measurements.hipGirth }} cm</dd>
      </dl>
      {% endif %}

      <dl class="row text-muted mt-4">
        <dt class="col-sm-3 text-md-end fw-lighter">Id</dt>
        <dd class="col-sm-9">{{ associate.id }}</dd>

        <dt class="col-sm-3 text-md-end fw-lighter">Geregistreerd op</dt>
        <dd class="col-sm-9">{{ associate.createdAt ? associate.createdAt|format_datetime('long', 'medium') : '' }}</dd>

        <dt class="col-sm-3 text-md-end fw-lighter">Laatst aangepast op</dt>
        <dd class="col-sm-9">{{ associate.updatedAt ? associate.updatedAt|format_datetime('long', 'medium') : '' }}</dd>
      </dl>

    </div>

    <ul class="list-inline">
      <li class="list-inline-item"><a href="{{ path('profile_index') }}"><i class="bi bi-chevron-double-left"></i> terug naar het overzicht</a></li>
      <li class="list-inline-item"><a href="{{ path('profile_edit', {'id': associate.id}) }}">bewerk</a></li>
    </ul>

{% endblock %}
