<div class="alert alert-secondary mt-5 small" role="alert">

  <h5 class="mt-2 text-secondary">Ical integratie</h5>

  <p>Integreer de kalender in jouw favoriete applicatie naar keuze (Apple Calendar, Google Agenda, Microsoft Outlook, Yahoo!, ...). Gewoon klikken op het juiste icoontje.</p>
  <p>Voeg de kalender toe als url/abonnement om gesynchroniseerd te blijven met de website. Je applicatie update de kalender vanzelf (minstens 1x per dag, afhankelijk van de applicatie en de instellingen).</p>
  <p><i class="bi bi-apple"></i> gebruikers stellen het automatisch vernieuwen best manueel in op elk uur.</p>
  <p><i class="bi bi-google"></i> gebruikers voegen de kalender eerst toe via de browser. Vervolgens kan je kalender aanvinken om te synchroniseren met al je apparaten.</p>

  {% set base = url('home')|trim('/', 'right')|replace({'http': 'webcal', 'https': 'webcal'}) %}
  {% set class = 'text-decoration-none ms-1' %}

  <h6 class="text-secondary">1 kalender voor al jouw deelnemers</h6>
  <ul class="list-unstyled">
    {% set url = base~path('api_ical_events_user', {'id': app.user.id, 'token': app.user.icaltoken}) %}
    {% set msg = "De kalender voor al je deelnemers in" %}
    <li>
      {{app.user.email}}
      <a href="{{url}}" class="{{class}}" alt="Apple Calendar"
         data-toggle="tooltip" data-placement="bottom" title="{{msg}} Apple Calendar">
        <i class="bi bi-apple"></i>
      </a>
      <a href="https://calendar.google.com/calendar/render?cid={{url}}" class="{{class}}" alt="Google Calendar"
         data-toggle="tooltip" data-placement="bottom" title="{{msg}} Google Calendar">
        <i class="bi bi-google"></i>
      </a>
      <a href="https://outlook.live.com/?rru=addsubscription&url={{url}}" class="{{class}}" alt="Microsoft Outlook"
         data-toggle="tooltip" data-placement="bottom" title="{{msg}} Microsoft Outlook">
        <i class="bi bi-microsoft"></i>
      </a>
    </li>
  </ul>

  <h6 class="text-secondary">1 kalender per deelnemer</h6>
  <ul class="list-unstyled">
  {% for associate in app.user.enabledAssociates %}
    {% set url = base~path('api_ical_events_associate', {'id': associate.id, 'token': app.user.icaltoken}) %}
    {% set msg = "De kalender van %s in"|format(associate) %}
    <li>
      {{associate}}
      <a href="{{url}}" class="{{class}}" alt="Apple Calendar"
         data-toggle="tooltip" data-placement="bottom" title="{{msg}} Apple Calendar">
        <i class="bi bi-apple"></i>
      </a>
      <a href="https://calendar.google.com/calendar/render?title=HGCVHKV&cid={{url}}" class="{{class}}" alt="Google Calendar"
         data-toggle="tooltip" data-placement="bottom" title="{{msg}} Google Calendar">
        <i class="bi bi-google"></i>
      </a>
      <a href="https://outlook.live.com/?rru=addsubscription&url={{url}}" class="{{class}}" alt="Microsoft Outlook"
         data-toggle="tooltip" data-placement="bottom" title="{{msg}} Microsoft Outlook">
        <i class="bi bi-microsoft"></i>
      </a>
    </li>
  {% endfor %}
  </ul>

</div>
