<div class="alert alert-secondary mt-5 small" role="alert">

  <h5 class="mt-2 text-secondary">Ical integratie</h5>

  <p>Integreer de kalender in jouw kalender app (Google Agenda, Apple Calendar, Microfsoft Outlook, ...)!</p>

  {% set base = url('home')|trim('/', 'right')|replace({'http': 'webcal', 'https': 'webcal'}) %}
  {% set class = 'text-decoration-none ms-1 small' %}

  <h6 class="text-secondary">1 kalender voor al jouw deelnemers</h6>
  <ul class="list-unstyled">
    {% set url = base~path('api_events_user', {'id': app.user.id}) %}
    <li>
      {{app.user.email}}
      <a href="{{url}}" class="{{class}}" alt="Apple Calendar">
        <i class="bi bi-apple"></i>
      </a>
      <a href="https://calendar.google.com/calendar/render?title=HGCVHKV&cid={{url}}" class="{{class}}" alt="Google Calendar">
        <i class="bi bi-google"></i>
      </a>
      <a href="https://outlook.live.com/?rru=addsubscription&url={{url}}" class="{{class}}" alt="Outlook">
        <i class="bi bi-microsoft"></i>
      </a>
    </li>
  </ul>

  <h6 class="text-secondary">1 kalender per deelnemer</h6>
  <ul class="list-unstyled">
  {% for associate in app.user.enabledAssociates %}
    {% set url = base~path('api_events_associate', {'id': associate.id}) %}
    <li>
      {{associate}}
      <a href="{{url}}" class="{{class}}" alt="Apple Calendar">
        <i class="bi bi-apple"></i>
      </a>
      <a href="https://calendar.google.com/calendar/render?title=HGCVHKV&cid={{url}}" class="{{class}}" alt="Google Calendar">
        <i class="bi bi-google"></i>
      </a>
      <a href="https://outlook.live.com/?rru=addsubscription&url={{url}}" class="{{class}}" alt="Outlook">
        <i class="bi bi-microsoft"></i>
      </a>
    </li>
  {% endfor %}
  </ul>

</div>
