{% extends 'profile.html.twig' %}

{% block main %}

  <h1 class="text-secondary mb-2 mb-md-4"><i class="bi bi-calendar-week"></i> Kalender</h1> 

  <div class="p-3 bg-white shadow-sm mb-4">

    {% set past  = date(event.trueEndTime) < date() %}
    {% set year  = date(event.trueEndTime)|date_modify('last day of december this year noon') %}
    {% set month = date(event.trueEndTime)|date_modify('last day of this month noon') %}
      
    <div class="media align-top mt-3 event {% if past %} past{% endif %}{% if event.cancelled %} alert-danger{% endif %}">

     <span class="badge rounded-1 mr-3 event event-md text-bg-{% if past %}secondary{% else %}primary{% endif %} d-flex">
       <span class="m-auto">{% if past %}<s>{% endif %}{{event.startTime|format_datetime(pattern='d')}}<br>{{event.startTime|format_datetime(pattern='MMM')|trim('.')}}{% if past %}</s>{% endif %}</span>
      </span>

     <div class="media-body ms-3 pb-0 mb-0 lh-125 w-100">

       <h5 class="pb-0 mb-1 d-flex justify-content-between text-{% if past %}secondary{% else %}primary{% endif %}">{% if event.cancelled %}<s>{{event.title}}</s>{% else %}{{event.title}}{% endif %}
         <small>
           {% if event.cancelled %}
             <span class="badge rounded-1 text-bg-danger ml-1">Geannuleerd</span>
           {% endif %}
         </small>
       </h5>

       <h6 class="mb-2">{{event.getFormattedPeriod|lower}}</h6>

       <div class="text-secondary d-flex justify-content-between mt-2 mb-0">
         <ul class="list-inline mb-0">
           {% if event.location %}
           <li class="list-inline-item small"><i class="bi bi-pin-map"></i>
             {{ event.location }}
           </li>
           {% endif %}
           <li class="list-inline-item small"><i class="bi bi-people-fill"></i>
             {% for category in event.categories %}
               {{ category|lower }}{% if not loop.last%} | {% endif %}
             {% else %}
               iedereen
             {% endfor %}
           </li>
           {% include 'modules/tags.html.twig' with {'tags': event.tags } %}
         </ul>
         <ul class="list-inline mb-0"></ul>
       </div>

       <div class="my-4">{{event.body|raw}}</div>

       {% if event.cancelled %}
       <div class="alert alert-secondary" role="alert">
         <i class="bi bi-exclamation-diamond-fill"></i> Dit event is <strong>geannuleerd</strong> op {{ event.cancelledAt|format_datetime('medium', 'short') }}
       </div>
       {% endif %}

       {% if event.url %}
       <div class="my-4">
         <a href="{{ event.url }}" class="btn btn-outline-secondary fw-light rounded-1" target="_Blank"><i class="bi bi-info-square-fill"></i> klik voor meer informatie</a>
       </div>
       {% endif %}

       <div class="small text-muted d-flex justify-content-between mt-2 mb-0">
         <ul class="list-inline mb-0">
           <li class="list-inline-item small fw-lighter"><i class="bi bi-clock"></i> gepubliceerd
             {{ event.publishedAt|format_datetime('medium', 'none') }}
           </li>
           {% if event.updatedAt %}
           <li class="list-inline-item small fw-lighter"><i class="bi bi-clock-history"></i> aangepast
             {{ event.updatedAt|format_datetime('medium', 'none') }}
           </li>
           {% endif %}
         </ul>
       </div>

     </div>

   </div>

  </div>

  <ul class="list-inline mt-2">
    <li class="list-inline-item"><a href="{{ path('profile_events') }}" class="fw-lighter text-secondary text-decoration-none"><i class="bi bi-chevron-double-left"></i> terug naar het overzicht</a></li>
  </ul>

{% endblock %}

