{% extends 'base.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}

{% block main %}
    <main>
      <h1 class="text-primary d-flex justify-content-between">{{ page.title }}
      {% if not page.enabled %}
          <small><i class="fas fa-lock" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Niet gepubliceerd"></i></small>
      {% endif %}
      </h1>

      {% if page.showUpdatedAt or page.showCreatedAt %}
        <div class="small text-muted pb-3">
          {% if page.showCreatedAt%}
          <span class="modified pr-2">
            Aangemaakt op {{ page.createdAt|format_datetime('full','none') }}.
          </span>
          {% endif %}
          {% if page.showUpdatedAt%}
          <span class="modified pr-2">
            Laatst aangepast op {{ page.updatedAt|format_datetime('full','none') }}.
          </span>
          {% endif %}
        </div>
      {% endif %}

      {{page.body|raw}} 
    </main>
{% endblock %}
