{% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}

<nav class="navbar navbar-dark bg-primary navbar-expand-lg fixed-top">
  <div class="container-xl">
    <a class="navbar-brand d-md-none" href="/">HGCVHKV</a>
    <a class="navbar-brand d-none d-md-block" href="/">Het Groot Circus van het Klein Verdriet</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark bg-secondary" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Het Groot Circus van het Klein Verdriet</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link {% if path('profile_index') == currentPath %}active{% endif %}"
               href="{{path('profile_index')}}">Start</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if path('profile_posts') in currentPath %}active{% endif %}"
               href="{{path('profile_posts')}}">Berichten</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if path('profile_events') in currentPath %}active{% endif %}"
               href="{{path('profile_events')}}">Kalender</a>
          </li>
{#
          <li class="nav-item">
            <a class="nav-link {% if path('profile_adverts') in currentPath %}active{% endif %}"
               href="{{path('profile_index')}}">Documenten</a>
          </li>
#}
          <li class="nav-item">
            <a class="nav-link {% if path('profile_adverts') in currentPath %}active{% endif %}"
               href="{{path('profile_adverts')}}">Zoekertjes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{path('page', {slug: 'contact'})}}">Contact</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{app.user.email}}
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" style="margin-top: 7px;">
              <li><a class="dropdown-item" href="#">{{app.user.email}}</a></li>
              <li><hr class="dropdown-divider"></li>
              {% for associate in app.user.associates %}
              <li><a class="dropdown-item" href="#">{{associate}}</a></li>
              {% endfor %}
              <li><hr class="dropdown-divider"></li>
              <li><a href="{{path('security_signout')}}" class="dropdown-item"><i class="bi bi-power"></i> afmelden</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
