{% set strategy = 'html' %}
{% set _side = block('side') %}
{% set _title = block('title') %}
{# set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) #}
<!DOCTYPE html>
<html lang="{{default_locale}}">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Pieter Smets (pieter@steps4it.be)">

        <meta name="mobile-web-app-capable" content="yes">

        <title>{% if _title %}{% block title %}{% endblock %} | {% endif %}{{org.abbr}}</title>

        <!-- Core CSS -->
        {{ encore_entry_link_tags('bootstrap') }}
        {{ encore_entry_link_tags('safari_select_fix') }}
        {{ encore_entry_link_tags('vzw-lach') }}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
        <!-- Custom styles for this template -->
        {% block stylesheets %}{% endblock %}

    </head>

    <body class="bg">

        <div class="loader-container h3 d-none" id="loader"><span class="badge bg-primary fw-light">even geduld ...</span></div>
 
        <div class="{% if _side %}container-xl{% else %}cover-container px-3 mx-auto{% endif %} d-flex flex-column w-100 h-100">

            {% block header %}{% endblock %}

            {% if _side %}<div class="row mt-2 mt-lg-3">{% endif %}

            {% block body %}
                <div class="col col-12 {% if _side %}col-md-9 col-lg-8 col-xl-9{% else %}mt-3{%endif%} col-print-12">
                  <div id="notices" class="pl-2 pr-2 p-md-0">
                    {% include 'modules/alerts.html.twig' %}
                  </div>
                  {% block lead %}{% endblock %}
                  {% block main %}{% endblock %}
                </div>
              {% if _side is not empty %}
                <div class="col col-12 col-md-3 col-lg-4 col-xl-3 mt-2 pt-4 pt-md-0 px-md-3 d-print-none">
                   {% block side %}{% endblock %}
                </div>
              {% endif %}
            {% endblock %}

            {% if _side %}</div>{% endif %}

            {% block footer %}{% endblock %}

        </div><!-- /div container -->

        <a id="toTop" href="javascript:;" style="visibility:hidden;"><span id="toTopHover"></span><img width="40" height="40" alt="To Top" src="/assets/img/to-top@2x.png"></a>

        <!-- JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        {% block javascripts %}{% endblock %}

    </body>

</html>
