<div class="p-3 mb-4 bg-white shadow-sm">

  <h4 class="text-primary d-flex justify-content-between mb-3">{{ advert.title|capitalize }} 
    {% if advert.publishedAt > date()%}
      <small>
        <i class="fas fa-lock" data-toggle="tooltip" data-placement="bottom" title=""
           data-original-title="Nog niet publiek"></i>
      </small>
    {% elseif not advert.published %}
        <small>
          <i class="fas fa-lock" data-toggle="tooltip" data-placement="bottom" title=""
            data-original-title="Niet gepubliceerd"></i>
        </small>
    {% endif %}
  </h4>

  {{advert.body|raw}}

  <div class="small text-secondary d-flex justify-content-between mt-3">
    <ul class="list-inline mb-0">
      {% if advert.showPublishedAt %}
        <li class="list-inline-item small"><i class="bi bi-clock"></i> gepubliceerd
          {{ advert.publishedAt|format_datetime('medium', 'none') }}
        </li>
      {% endif %}
      {% if advert.showUpdatedAt and advert.updatedAt %}
        <li class="list-inline-item small"><i class="bi bi-clock-history"></i> aangepast
          {{ advert.updatedAt|format_datetime('medium', 'none') }}
        </li>
      {% endif %}
    </ul>
    <ul class="list-inline mb-0">
      <li class="list-inline-item">
        <a href="{{ path('profile_advert', {'uuid': advert.id}) }}"><i class="bi bi-link-45deg"></i></a>
      </li>
    </ul>
  </div>

</div>
