<div class="p-3 mb-3 mb-md-4 shadow-sm {% if not extend %}advert-link{% else%}bg-white{% endif %} {% if advert.completed %}completed{% endif %}" {% if not extend %}onclick="window.location='{{ path('profile_advert', {'id': advert.id}) }}';"{% endif %}>

  <h5 class="text-{% if advert.completed %}secondary{% else %}primary{% endif %} d-flex justify-content-between mb-2">
    {{ advert.title|capitalize }}
    <span>
      <span class="badge bg-secondary">{{advert.acquired}} / {{advert.required}}</span>
      {% if advert.publishedAt > date()%}
        <small>
          <i class="fas fa-lock" data-toggle="tooltip" data-placement="bottom" title=""
             data-original-title="Nog niet publiek"></i>
        </small>
      {% elseif not advert.published %}
          <small>
            <i class="fas fa-lock" data-toggle="tooltip" data-placement="bottom" title=""
              data-original-title="Niet gepubliceerd"></i>
          </small>
      {% endif %}
    </span>
  </h5>

  <div class="progress my-2" role="progressbar" aria-label="{{advert.title}}"
       aria-valuenow="{{advert.progress}}" aria-valuemin="0" aria-valuemax="100" style="height: 3px">
    <div class="progress-bar bg-{% if advert.completed %}secondary{% else %}primary{% endif %}"
         style="width: {{advert.progress}}%"></div>
  </div>

{% if extend %}
  <div class="my-3">{{advert.body|raw}}</div>
{% endif %}

  <div class="small text-secondary d-flex justify-content-between mt-2">
    <ul class="list-inline mb-0">
        <li class="list-inline-item small fw-lighter"><i class="bi bi-clock"></i> gepubliceerd
          {{ advert.publishedAt|format_datetime('medium', 'none') }}
        </li>
      {% if advert.updatedAt %}
        <li class="list-inline-item small fw-lighter"><i class="bi bi-clock-history"></i> aangepast
          {{ advert.updatedAt|format_datetime('medium', 'none') }}
        </li>
      {% endif %}
      {% include 'modules/tags.html.twig' with {'tags': advert.tags } %}
    </ul>
  </div>

</div>
