{% extends 'base.html.twig' %}

{% block title %}stap {{enrol_step}}{% endblock %}

{% block main %}
    <h1>STAP <i class="bi bi-{{enrol_step}}-square"></i> - {{enrol_title}}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        {% if enrol_prev %}<a href="{{ path(enrol_prev) }}" class="btn btn-secondary">Vorige</a>{% endif %}
        <button class="btn btn-primary">{{ button_label|default(enrol_btn) }}</button>
    {{ form_end(form) }}

{% endblock %}
