{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ associate.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ associate.name }}</td>
            </tr>
            <tr>
                <th>Enabled</th>
                <td>{{ associate.enabled ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ associate.createdAt ? associate.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ associate.updatedAt ? associate.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Singer</th>
                <td>{{ associate.singer ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Singer Soloist</th>
                <td>{{ associate.singerSoloist ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Companion</th>
                <td>{{ associate.companion }}</td>
            </tr>


        </tbody>
    </table>

    <a href="{{ path('app_associate_index') }}">back to list</a>

    <a href="{{ path('app_associate_edit', {'id': associate.id}) }}">edit</a>

    {{ include('associate/_delete_form.html.twig') }}
{% endblock %}
